include *.rst
include LICENSE
include token_exchange/py.typed
recursive-include token_exchange *.html
recursive-include token_exchange *.txt
recursive-include token_exchange *.po
global-exclude __pycache__
global-exclude *.py[co]

